.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 800px;
   //  max-width: 0rem;
 }
.alinear-derecha{
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
}
.w-100{
    width: 100%;
}